@model PizzariaMvc.Models.Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroEndereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroEndereco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>