@model IEnumerable<PizzariaMvc.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h2>Pedidos</h2>

<p>
    <a asp-action="Create" class="btn btn-default btn-lg">Cadastrar Novo Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QtdPizzas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamanhoPizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrocoPara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Troco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdPizzas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TamanhoPizza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrocoPara)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Troco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clientes.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>